body{
  .container{
    min-height: auto;
    justify-content: start;
    text-align: left;
  }
  .card-list-item{
    //height: 180px;
    cursor: pointer;
    &:hover{
      background-color: rgba(0, 0, 0, 0.03);
      img{
        opacity: .8;
      }
    }
    &+  .card-list-item{
      margin-top:1rem;
    }
    .cart-list-item-img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }
  .cm-spinner{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 960px) {
      .cm-sm-hide{
        display: none;
      }
  }
  .cm-sticky{
    position: sticky;
    top:72px;
  }
  .cm-cursor{
    cursor: pointer;
  }
  .card{
    &+.card{
      margin-top:1rem;
    }
  }
  .cm-sub-txt{
    color:var(--gray);
  }
  .list-group-item-active{
    color:var(--teal);
  }
  .error{
    color:var(--red)!important;
  }
  /**
  单行，无图 文章列表
  **/
  .cm-single-doc-list{
    .card-body {
      padding: 0;
    }
    .card-title {
      margin-bottom: 0.2rem;
    }
    .card-text {
      margin-bottom: 0.2rem;
      line-height: 1.2;
    }
  }
}