body{
  .container{
    min-height: auto;
    justify-content: start;
    text-align: left;
  }
  .card-list-item{

    &+  .card-list-item{
      margin-top:1rem;
    }
    .cart-list-item-img{
      width: 200px;
      height: 120px;
      object-fit: cover;
      object-position: center top;
    }
  }
}